h1 {
  color: blue;
  text-align: center:center;
  font-family: ''
}
h2 {
  color: blue;
  text-align: center:center;
  font-family: ''
}
h3 {
  color: blue;
  text-align: center:center;
  font-family: ''
}
h4 {
  color: blue;
  text-align: center:center;
  font-family: ''
}
h5 {
  color: blue;
  text-align: center:center;
  font-family: ''
}
h6 {
  color: blue;
  text-align: center:center;
  font-family: ''
}
